<div class="flex space-between align-center col-12">
  <div class="col-2 center">
    <h1>Chu Chu</h1>
  </div>
  <div class="col-8 center bb-thin">
    <ul class="flex justify-center list-reset">
      <li class="px2">About</li>
      <li class="px2">How it Works</li>
      <li class="px2">Menus</li>
    </ul>
  </div>
  <div class="col-2 center">
    <button>Reserve</button>
  </div>
</div>
