.button {
  padding-top: .75rem;
  padding-bottom: .75rem;
  border: none;
  transition: $hover-duration $hover-timing-function;
  font-size: .75rem;

  &.text-based {
    &.color-slush {
      color: color('slush');
      &:hover {
        color: color('black');
      }
    }
  }

  &.bg-slush {
    background-color: color('slush');
    color: color('black');
    &:hover {
      background-color: color('black');
      color: color('white');
    }
  }

  &.button-white {
    color: color('gray-dark');
    background-color: color('white');
  }
}