input,
select,
textarea,
fieldset {
  font-family: inherit; 
  font-size: 100%;
  box-sizing: border-box;
  margin-top: 0;
  margin-bottom: 0;
}

input[type=text],
input[type=date],
input[type=datetime],
input[type=datetime-local],
input[type=email],
input[type=month],
input[type=number],
input[type=password],
input[type=search],
input[type=tel],
input[type=time],
input[type=url],
input[type=week] {
  height: $form-field-height;
  padding: $form-field-padding-y $form-field-padding-x;
  vertical-align: middle;
  -webkit-appearance: none;
}

textarea {
  color: inherit;
  line-height: 1.5;
  min-height: 12rem;
  padding: $form-field-padding-y $form-field-padding-x;
}

select {
  -webkit-appearance: menulist-button;
}

select,
.select {
  line-height: 1.75;
  height: $form-field-height;
  padding: $form-field-padding-y $form-field-padding-x;
  vertical-align: middle;
}

.label {
  display: block;
  margin: 0.5rem 0;
}
.field {
  border-style: solid;
  border-radius: $input-border-radius;
  border-width: $border-width-thin;
  border-color: $input-border-color;
  background-color: color('white');
  width: 100%;
}
.field:hover {
  border-color: $input-border-color;
}
.field:focus,
.field.is-focused {
  outline: none;
  border-color: $input-border-color;
}